@import 'settings';

html {
  overflow: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  color: $color-text;
  background-color: $color-bg;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;

  &:hover {
    color: $color-primary !important;
  }
}

.App {
  color: $color-text;
  font-size: 14px;
  width: 100%;
}

main {
  height: calc(100vh - $navbar-height - 40px);
  margin-top: $navbar-height;
  padding: 1rem;
}